Repository techprimate/SystemStats: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-json, format-markdown, format-yaml, format-swift, lint

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-xml
      - id: check-yaml
        args: [--allow-multiple-documents]
      - id: detect-private-key
      - id: end-of-file-fixer
        exclude: ^Targets/App/Sources/Resources/Settings\.bundle/Licenses\.latest_result\.txt$

  - repo: https://github.com/python-jsonschema/check-jsonschema
    rev: 0.33.2
    hooks:
      - id: check-github-actions
      - id: check-github-workflows
        args: [--verbose]

  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.10.0.1
    hooks:
      - id: shellcheck

  - repo: local
    hooks:
      - id: format-json
        name: Format JSON
        description: "Format JSON"
        files: ^.*\.json$
        types_or: [json]
        entry: dprint
        language: system
        args:
          - "fmt"

      - id: format-markdown
        name: Format Markdown
        description: "Format Markdown"
        files: ^.*\.md$
        types_or: [markdown]
        entry: dprint
        language: system
        args:
          - "fmt"

      - id: format-yaml
        name: Format YAML
        description: "Format YAML"
        files: ^.*\.(yaml|yml)$
        types_or: [yaml]
        entry: dprint
        language: system
        args:
          - "fmt"

      - id: format-swift
        name: Format Swift
        entry: make
        language: system
        types_or: ["swift"]
        args:
          - "format"

      - id: lint
        name: Run Linters
        entry: make
        language: system
        types_or: ["swift"]
        args:
          - "lint"

feat: Add minimal menu bar UI with settings
  Resources/Assets.xcassets/AccentColor.colorset/Contents.json
  Resources/Assets.xcassets/AppIcon.appiconset/Contents.json
  Resources/Assets.xcassets/Contents.json
  Resources/Localizable.xcstrings
  Source/AppStorageKeys.swift
  Source/GeneralSettingsView.swift
  Source/Globals.swift
  Source/MainApp.swift
  Source/MenuContentView.swift
  Source/SettingsView.swift
  SystemMetrics.xcodeproj/project.pbxproj
  SystemMetrics.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  SystemMetrics.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
Due: format-json, format-swift, lint

docs: Add README.md
  README.md
Due: format-markdown

refactor: Add directory for constants
  Source/Constants/AppStorageKeys.swift
  Source/Constants/Globals.swift
Due: format-swift, lint

refactor: Add directory for UI
  Source/UI/GeneralSettingsView.swift
  Source/UI/MenuContentView.swift
  Source/UI/SettingsView.swift
Due: format-swift, lint

feat: Add metrics collectors
  Source/Data/CPUMetricsCollector.swift
  Source/Data/RAMMetricsCollector.swift
  Source/Data/SystemMetricsCollector.swift
  Source/MainApp.swift
Due: format-swift, lint

chore(dx): Add Sentry MCP
  .cursor/mcp.json
Due: format-json

feat: Add Sentry SDK setup excl. dependency
  Source/Constants/Globals.swift
  Source/MainApp.swift
  SystemMetrics.xcodeproj/project.pbxproj
Due: format-swift, lint

feat: Configure Sentry as local dependency with Logs & Metrics
  Source/MainApp.swift
  Source/Utils/Env.swift
  SystemMetrics.xcodeproj/project.pbxproj
Due: format-swift, lint

feat: Integrate Sentry metrics reporting in SystemMetricsCollector
  Source/Data/SystemMetricsCollector.swift
Due: format-swift, lint

feat: Add machine identifier to Sentry metrics attributes
  Source/Data/SystemMetricsCollector.swift
  Source/MainApp.swift
Due: format-swift, lint

chore(deps): Replace local Sentry with remote dependency
  SystemMetrics.xcodeproj/project.pbxproj
  SystemMetrics.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
Due: none
